{% extends 'base.html' %}
{% load static %}
{% block title %}
Error Page
{% endblock %}
{% block specific_css %}
{% endblock %}
{% block main %}
	<div class="bg_color_2">
		<div id="error_page">
			<div class="box_general">
				<div class="row justify-content-center text-center">
					<div class="col-xl-7 col-lg-9">
						<h2 style="color: #DB4D6D; font-weight: 1000;">404<i class="icon_error-triangle_alt"></i></h2>
						<h6 style="font-weight: 600;">Page Not Found</h6>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /box_general -->
		</div>
		<!-- /error_page -->
	</div>
{% endblock %}
{% block specific_js %}	
{% endblock %}