{% extends 'base.html' %}
{% block title %}Log in{% endblock %}
{% block specific_css %}
<meta charset="UTF-8">
<link rel="stylesheet" href="/static/css/tables.css">
{% endblock %}
{% block main %}
    <style type="text/css">
        .box_background{
            width:50%;
        }
        @media (max-width: 767px) {
        .box_background {
            /* For less than 767px */
            width:70%;
            }
        }
        @media (max-width: 575px) {
        .box_background {
            /* For less than 575px */
            width:90%;
            }
        }
    </style>
    <div class="bg_color_2">
        <form action="/signin/" method="post">
                <div class="main_title_3" style="padding-top: 50px; margin-bottom:5px;">
                    <h2 style="color: white">Select Account Type:</h2>
                </div>
            <div class="box_background">
                <div class="pricing-container cd-has-margins" style="width: 80%;">
                    <div class="pricing-switcher">
                        <p class="fieldset">
                            <input type="radio" name="role" value="patient" id="patient" checked="">
                            <label for="patient">Patient</label>
                            <input type="radio" name="role" value="clinic" id="Clinic">
                            <label for="Clinic">Clinic</label>
                            <span class="switch"></span>
                        </p>
                    </div>
                    <ul class="pricing-list bounce-invert">
                        <ul class="pricing-wrapper">
                            <li data-type="patient" class="is-visible">
                                <header class="pricing-header">
                                    <h1><i class="icon-user"></i>Patient</h1>
                                    <div class="price">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                    </div>
                                </header>
                            </li>
                            <li data-type="clinic" class="is-hidden">
                                <header class="pricing-header">
                                    <h1><i class="icon-user-md"></i>Clinic</h1>
                                    <div class="price">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                    </div>
                                </header>
                            </li>
                        </ul>
                        <div class="box_form">
                            <input type="hidden" name="csrfmiddlewaretoken" value="QEgWnaXwqwTuNmPgeoWrseuD6kkRbRHH79JwnDrGGUG3RRpLLJd4SkBdhIk1JEAg">
                            {% csrf_token %}
                            
                                {% if error %}
                                    {% for e in error %}
                                        <div id="pass-info" class="clearfix weakpass">{{ e }}</div>
                                    {% endfor %}
                                {% endif %}
                                <div class="form-group">
                                    <h5 style="margin-top:5px;margin-bottom:5px;font-weight: 1000;font-size: 24px;">Email:</h5>
                                    <input type="email" name="email" class="form-control" placeholder="Your email address">
                                </div>
                                <div class="form-group">
                                    <h5 style="margin-top:5px;margin-bottom:5px;font-weight: 1000;font-size: 24px;">Password:</h5>
                                    <input type="password" name="password" class="form-control" placeholder="Your password">
<!--                                     <a href="#0" class="forgot">
                                        <small>Forgot password?</small>
                                    </a> -->
                                </div>
                                <div class="form-group" style="padding-right: 40%;padding-left: 40%;">
                                    <input class="btn_1" type="submit" value="Log in" style="font-size: 20px;">
                                </div>
                        </div>
                        <div class="row" style="margin:auto;">
                            <div class="col-6"><a class="btn_1" style='color:#ffff;float: left; font-size: 20px;' href="{% url 'signup' %}"><i class="icon-user"></i>Patient Sign up</a></div>
                            <div class="col-6"><a class="btn_1" style="background-color:#33A6B8; color:#ffff;float:right;font-size: 20px;" href="{% url 'signup' %}?role=doc"><i class="icon-user-md"></i>Clinic Sign up</a></div>
                        </div>
                    </ul>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block specific_js %}
<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="/static/js/modernizr_tables.js"></script>
<script src="/static/js/tables_func.js"></script>
{% endblock %}