{% extends 'base.html' %}
{% load static %}
{% block title %}
Clinic Search
{% endblock %}
{% block specific_css %}
{% endblock %}
{% block main %}
	<div class="bg_color_3">
        <div class="container-fluid" style="padding: 30px;">
            <!-- Breadcrumbs-->
            <div class="box_background">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3 style="font-weight: 1000;"><i class="icon-list-1"></i>Appointment Table</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="AppTable" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Gender</th>
                                        <th>Date of Birth</th>
                                        <th>Insurance</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Gender</th>
                                        <th>Date of Birth</th>
                                        <th>Insurance</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for i in result %}
                                        <tr>
                                            <td>{{ i.First_name }}, {{i.Last_name}}</td>
                                            <td>{{i.Email}}</td>
                                            <td> 
                                                {% if i.Gender == 'M' %}
                                                    <p style="color:#2EA9DF; font-size: 28px;"><i class="icon-user-male"></i></p>
                                                    <input hidden value ="M" />
                                                {% else %}
                                                    <p style="color:#D05A6E; font-size: 28px;"><i class="icon-user-female"></i></p>
                                                    <input hidden value ="1" />
                                                {% endif %} 
                                            </td>
                                            <td> {{ i.DateOfBirth }} </td>
                                            <td> {{ i.Insurance }} </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block specific_js %}
	<script src="/static/vendor/chart.js/Chart.min.js"></script>
    <script src="/static/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="/static/vendor/retina-replace.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/admin-datatables.js"></script>
    <script src="{% static 'js/jquery.selectBox-1.2.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#AppTable').dataTable( {
                "paging":   true,
                "ordering": true,
                "info":     true,
                "search": true,
                "language":{
                    "search" : "Filter by keywords:"
                }
            } );
        } );
    </script>    	
{% endblock %}